@model M1_G1_Admin.Models.Cargo

@{
    ViewData["Title"] = "Delete";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        body {
            background-color: #333;
            color: #fff;
        }

        .container {
            margin-top: 50px;
        }

        .form-container {
            background-color: #222;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }

        .btn-danger {
            background-color: #dc3545;
            border-color: #dc3545;
        }

            .btn-danger:hover {
                background-color: #bb2d3b;
                border-color: #bb2d3b;
            }

        .back-link {
            margin-top: 20px;
            display: block;
            color: #007bff;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form-container">
                    <h1 class="text-center mb-4">Eliminar Cargo</h1>
                    <h3>¿Estás seguro de que deseas eliminar esto?</h3>
                    <div>
                        <h4>Cargo</h4>
                        <hr />
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.tipo_cargo)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.tipo_cargo)
                            </dd>
                        </dl>
                    </div>
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="id_cargo" />
                        <button type="submit" class="btn btn-danger">Eliminar</button> |
                        <a asp-action="Index" class="back-link">Volver al Listado</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoF" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-pzjw8f+cg6Lvb3cbv9/9Wraf61zZMLJmCCMwp5Pb+iqOvya2lsF9b7hCiN5Xr6jJ" crossorigin="anonymous"></script>
</body>
</html>
