@model M1_G1_Admin.Models.Platos

@{
    ViewData["Title"] = "Edit";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        body {
            background-color: #000;
            color: #fff;
        }

        .container {
            margin-top: 50px;
        }

        .edit-container {
            background-color: #333;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-check-input {
            margin-right: 10px;
        }

        .btn-primary {
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="edit-container">
                    <h1 class="text-center mb-4">Editar Plato</h1>
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="plato_id" />

                        <!-- Primera fila -->
                        <div class="row">
                            <div class="col-md-6">
                                <!-- Primera columna -->
                                <div class="form-group">
                                    <label asp-for="nombre" class="control-label">Nombre</label>
                                    <input asp-for="nombre" class="form-control" />
                                    <span asp-validation-for="nombre" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="precio" class="control-label">Precio</label>
                                    <input asp-for="precio" class="form-control" />
                                    <span asp-validation-for="precio" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <!-- Segunda columna -->
                                <div class="form-group">
                                    <label asp-for="descripcion" class="control-label">Descripción</label>
                                    <input asp-for="descripcion" class="form-control" />
                                    <span asp-validation-for="descripcion" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="categoria_id" class="control-label">Categoría</label>
                                    <select asp-for="categoria_id" class="form-control">
                                        <option value="">Selecciona una categoría</option>
                                        @foreach (var categoria in ViewBag.Categoria)
                                        {
                                            <option value="@categoria.categoria_id">@categoria.nombre</option>
                                        }
                                    </select>
                                    <span asp-validation-for="categoria_id" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <!-- Segunda fila -->
                        <div class="row">
                            <div class="col-md-6">
                                <!-- Primera columna -->
                                <div class="form-group">
                                    <label class="control-label">Disponible</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" asp-for="disponible" value="true" />
                                        <label class="form-check-label">Sí</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" asp-for="disponible" value="false" />
                                        <label class="form-check-label">No</label>
                                    </div>
                                    <span asp-validation-for="disponible" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <!-- Segunda columna -->
                                <div class="form-group">
                                    <label class="control-label">Desea incluir bebida</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" asp-for="es_bebida" value="true" />
                                        <label class="form-check-label">Sí</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" asp-for="es_bebida" value="false" />
                                        <label class="form-check-label">No</label>
                                    </div>
                                    <span asp-validation-for="es_bebida" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group text-center">
                            <!-- Botón de envío -->
                            <input type="submit" value="Guardar" class="btn btn-primary" />
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoF" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-pzjw8f+cg6Lvb3cbv9/9Wraf61zZMLJmCCMwp5Pb+iqOvya2lsF9b7hCiN5Xr6jJ" crossorigin="anonymous"></script>
</body>
</html>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
