<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - M1_G1_Admin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body class="bg-dark">
    <div class="d-flex">
        <div id="sidebar">
            <div class="p-2">
                <a class="navbar-brand text-center text-light w-100 p-4 border-bottom"
                   asp-controller="Home" asp-action="Index">
                    Dulce Sabor
                </a>
            </div>
            <div id="sidebar-accordion" class="accordion">
                <div class="list-group">
                    <a data-toggle="collapse" aria-expanded="false"
                       class="list-group-item list-group-item-action bg-dark text-light"
                       asp-controller="Home" asp-action="Index"
                    >
                        Inicio
                    </a>
                    <a data-toggle="collapse" aria-expanded="false"
                       class="list-group-item list-group-item-action bg-dark text-light"
                    asp-controller="Empleado" asp-action="Index">
                        Empleados
                    </a>
                    <a class="list-group-item list-group-item-action bg-dark text-light"
                        asp-controller="Mesas" asp-action="Index">
                        Mesas
                    </a>
                    <a data-toggle="collapse" aria-expanded="false"
                       class="list-group-item list-group-item-action bg-dark text-light"
                       asp-controller="Platos" asp-action="Index">
                       Platos
                    </a>
                    <a data-toggle="collapse" aria-expanded="false"
                       class="list-group-item list-group-item-action bg-dark text-light"
                    asp-controller="Combos" asp-action="Index">
                        Combos
                    </a>
                    <a data-toggle="collapse" aria-expanded="false"
                       class="list-group-item list-group-item-action bg-dark text-light"
                       asp-controller="Promociones" asp-action="Index">
                        Promociones
                    </a>
                </div>
            </div>
        </div>
        <div class="content w-100">
            <nav class="navbar navbar-dark bg-dark">
                <div class="container-xl">
                    <div class="collapse navbar-collapse show" id="navbarsExample07XL">
                        <form class="form-inline my-2 my-md-0">
                            <input class="form-control" type="text" placeholder="Buscar" aria-label="Buscar">
                        </form>
                    </div>
                </div>
            </nav>
            <section class="p-3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - M1_G1_Admin - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
