html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
}

:root {
    --bs-body-bg: #000;
    --bs-body-color: white;
    --color-principal: #9B2930;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: black;
}

.list-group-item {
    border: none;
    padding: 1rem;
}

.icono {
    width: 30px;
    padding: 5px;
    border: 2px;
    margin: 3px;
}

.list-group-item-action:focus, .list-group-item-action:hover {
    color: var(--color-principal) !important;
}
